body{
    font-family: 'Overpass', sans-serif;
    background-color: black;
    align-content: center;
    justify-content: center;
    display: grid;
    min-height: 100vh;
    box-sizing: border-box;
}
.template{
    background-color: rgb(35, 38, 43);
    width: 400px;
    
    color: white;
    border-radius: 20px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    
}
.star{
    width: 10px;
    height: 10px;
    background-color: rgb(48, 54, 59);
    border-radius: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    

}
.template p{
    color: rgb(146, 145, 140);
}
.rating{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;


    
    
}
label{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(83, 82, 80);
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;

}
label p{
    color: white;
}
input[type="radio"]{
    display: none;
}

input[type=radio]:hover+label{
    color: white;
    background-color: rgb(186, 190, 185);
    transition: 0.3s;
    
}
input[type=radio]:checked+label{
    color: white;
    background-color: rgb(255, 115, 0);
    transition: 0.3s;

}

.submit{
    width: 400px;
    border-radius: 30px;
    background-color: rgb(255, 115, 0);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
    border: 1px solid transparent;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(70, 66, 62);
    box-shadow: 0 0 10px white;
    transition: 0.4s;
}
.thankyou_card{
    background-color: rgb(35, 38, 43);
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    padding: 36px;
    display: flex;
    flex-direction: column;
}
.note_img{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


#selectiontext{
    color: orangered;
    background-color: rgb(94, 91, 91);
    border-radius: 20px;

    

}
.thankyou_note p{
    color: rgb(151, 148, 148);

}